<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteRule ^service-locations-mobile-services-north-carolina$ /service-locations-mobile-services-north-carolina.html [L]
  RewriteRule ^notary-toolkit$ /notary-toolkit.html [L]
  # --- location pages (generated) ---
  RewriteRule ^mobile-notary-concord-nc$ /mobile-notary-concord-nc.html [L]
  RewriteRule ^mobile-notary-gastonia-nc$ /mobile-notary-gastonia-nc.html [L]
  RewriteRule ^mobile-notary-monroe-nc$ /mobile-notary-monroe-nc.html [L]
  RewriteRule ^mobile-notary-matthews-nc$ /mobile-notary-matthews-nc.html [L]
  RewriteRule ^mobile-notary-mint-hill-nc$ /mobile-notary-mint-hill-nc.html [L]
  RewriteRule ^mobile-notary-salisbury-nc$ /mobile-notary-salisbury-nc.html [L]
  RewriteRule ^mobile-notary-locust-nc$ /mobile-notary-locust-nc.html [L]
  RewriteRule ^mobile-notary-midland-nc$ /mobile-notary-midland-nc.html [L]
  RewriteRule ^mobile-notary-huntersville-nc$ /mobile-notary-huntersville-nc.html [L]
  RewriteRule ^mobile-notary-cornelius-nc$ /mobile-notary-cornelius-nc.html [L]
  RewriteRule ^mobile-notary-davidson-nc$ /mobile-notary-davidson-nc.html [L]
  RewriteRule ^mobile-notary-mooresville-nc$ /mobile-notary-mooresville-nc.html [L]
  RewriteRule ^mobile-notary-kannapolis-nc$ /mobile-notary-kannapolis-nc.html [L]
  RewriteRule ^mobile-notary-harrisburg-nc$ /mobile-notary-harrisburg-nc.html [L]
  RewriteRule ^mobile-notary-indian-trail-nc$ /mobile-notary-indian-trail-nc.html [L]
  RewriteRule ^mobile-notary-stallings-nc$ /mobile-notary-stallings-nc.html [L]
  RewriteRule ^mobile-notary-waxhaw-nc$ /mobile-notary-waxhaw-nc.html [L]
  RewriteRule ^mobile-notary-weddington-nc$ /mobile-notary-weddington-nc.html [L]
  RewriteRule ^mobile-notary-pineville-nc$ /mobile-notary-pineville-nc.html [L]
  RewriteRule ^mobile-notary-belmont-nc$ /mobile-notary-belmont-nc.html [L]
  RewriteRule ^mobile-notary-mount-holly-nc$ /mobile-notary-mount-holly-nc.html [L]
  RewriteRule ^mobile-notary-statesville-nc$ /mobile-notary-statesville-nc.html [L]
  RewriteRule ^mobile-notary-fort-mill-sc$ /mobile-notary-fort-mill-sc.html [L]
  RewriteRule ^mobile-notary-rock-hill-sc$ /mobile-notary-rock-hill-sc.html [L]
  # --- end location pages ---




  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
